//@import 'https://fonts.googleapis.com/css?family=Kaushan+Script';
$game-font: 'Kaushan Script';
$game-color: #2196F3;
$font-color: #E3F2FD;
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

#main {
  height: inherit;
  width: inherit;
}

.container {
  width: inherit;
  height: inherit;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $game-color;
  .game-logo {
    font-family: $game-font;
    font-size: 8em;
    color: $font-color;
    transform: rotateZ(-15deg);
    margin-bottom: 1em;
//    transition: 0.25s all ease-in;
    &.shrink {
      font-size: 7em;
    }
  }
  .start-game,
  .level {
    height: 2em;
    width: 8em;
    font-size: 1.5em;
    margin: 0.5em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $font-color;
    color: $game-color;
    border-radius: 0.25em;
    cursor: pointer;
//    transition: 0.25s all ease-in;
    &.grow {
      display: none;
    }
  }
  .card {
    display: flex;
    flex: 1;
    max-width: 100vw;
    flex-flow: row wrap;
    background: white;
//    position: absolute;
    &.top {
      border-bottom: 2px solid #666;
//      top: 0;
    }
    &.bottom {
      border-top: 2px solid #666;
//      bottom: 0;
    }
  }
  .pic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-height: 2em;
    min-width: 45vw;
    .pic {
      &.level-3 {
        width: 15%;
      }
      &.level-5 {
        width: 10%;
      }
      &.level-7 {
        width: 7%;
      }
    }
  }
  .pic-text {
    font-size: 1.5em;
  }
}

@keyframes pulse {
  0% {
    background: #ddd;
  }
  50% {
    background: #fff;
  }
  100% {
    background: #ddd;
  }
}
