<div class="container">
  <div class="card top">
    <div class="pic-container img{{idx1}}" ng-repeat="idx1 in game.prevCard" track by $index>
<!--      <span class="pic-text">{{idx1}}</span>-->
<!--      <div class="pic-container">-->
      <img src="{{game.imageSet[idx1]}}" alt="" ng-style="game.setTableStyle($index)">
<!--      </div>-->
    </div>
  </div>
  <div class="card bottom">
      <div class="pic-container img{{idx2}}" ng-repeat="idx2 in game.currCard" ng-click="game.isMatch(idx2)" track by $index>
<!--      <span class="pic-text">{{idx2}}</span>-->
<!--      <div class="pic-container">-->
      <img class="pic level-{{game.level}}" src="{{game.imageSet[idx2]}}" alt="" ng-style="game.setHandStyle($index)">
<!--      </div>-->
    </div>
  </div>
</div>
