<div class="container">
  <div class="game-logo" ng-class="{'shrink': start.showLevels}">Dobble</div>
  <div class="start-game" ng-class="{'grow': start.showLevels}" ng-click="start.toggleLevels()">Start Game</div>
  <div class="select-level" ng-show="start.showLevels">
    <span class="level" ng-click="start.startGame('3')">Noob</span>
    <span class="level" ng-click="start.startGame('5')">Nobody</span>
    <span class="level" ng-click="start.startGame('7')">Ninja</span>
  </div>
</div>
